
//设置content的滑动拉伸
.content {
    padding-bottom: 3rem;
}
//分类页面与爱心家机构、活动页面的设置
.class-branch-content,.activity-content {
    margin-top: 2.25rem;
    & .content-padded,
    .col-20,
    .list-block {
        margin: 0;
    }
}
//头部搜索的设置
.searchbar {
    height: 2.25rem;
    font-size: 0.75rem;
    & .icon {
        font-size: 0.75rem;
    }
    & .searchbar-address {
        float: left;
        color: #fff;
    }
    & .icon-down {
        color: #fff;
        line-height: 2.25rem;
        padding: 0;
    }
    & .search-input {
        padding-top: 0.375rem;
    }
}

.bar-nav {
    background-color: #e01a57;
    & .icon,
    h1 {
        color: #fff;
        line-height: 2.25rem;
    }
    & a {
        margin-left: 0.5rem;
    }
    & .icon {
        font-size: 0.75rem;
        padding: 0;
    }
    & h1 {
        text-align: center;
        font-size: 0.85rem;
    }
}
//每个ul的下边框增加颜色
.list-block ul:after {
    background-color: #e01a57;
}
//左边菜单栏
#nav-col-20 {
    width: 3.5rem;
    & .list-block .item-content {
        padding: 0;
    }
    & .list-group ul {
        height: 18rem;
    }
    & .list-block ul:after {
        background-color: #e7e7e7;
    }
    & #menu-list-group ul li {
        height: 2.25rem;
        line-height: 2.25rem;
        font-size: 0.5rem;
    }
    & .item-title {
        width: 100%;
        text-align: center;
    }
    & li.active {
        color: #e01a57;
    }
}

//右边的内容信息
#main-col-80 {
    & .list-block .item-content,
    .list-block.media-list .item-media {
        padding: 0;
    }
    & .list-block .item-content {
        height: 5.5rem;
    }
    & img {
        height: 4.5rem;
    }
    & .item-subtitle {
        font-size: 0.6rem;
        color: #848689;
    }
}

/*这个是工具栏内容*/
//工具栏的圆
.love {
    display: inline-block;
    background-color: #f7f7f8;
    margin-left: 40%;
    position: fixed;
    text-align: center;
    border: 0.05rem solid #808080;
    position: absolute;
    width: 3.5rem;
    top: -1.85rem;
    height: 3.5rem;
    border-radius: 100% 100% 0 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
    & div {
        height: 3rem;
        width: 3rem;
    }
    & .icon {
        padding: 0;
        line-height: 3rem;
        font-size: 2.5rem;
        color: #e01a57;
    }
}

//限制列表的线不覆盖住工具栏
#tool-bar {
    z-index: 20;
    //a 标签的icon的字体
    & a .icon  {
        font-size: 1.1rem;
        height: 1.1rem;
        padding: 0;
    }
}

.love-external {
    & span {
        font-size: 0.5rem;
    }
}

#loveBtn {
    height: 0.5rem;
    padding: 0;
}

/*关于底部按钮*/
//申请加入的按钮,资料填写按钮
.applyBtn,.submitBtn {
    width: 80%;
    margin: 3rem auto 0rem;
    & .button.button-fill {
        border-radius: 1rem;
        background: #e01a57;
        height: 2rem;
        line-height: 2rem;
        font-size: 1rem;
    }
}
