/*确定订单的页面*/

//地址卡片
.address-card {
    margin: 0;
    & .item-inner {
        margin-top: 0.5rem;
        font-size: 0.9rem;
    }
    & .item-subtitle {
        font-size: 0.75rem;
    }
    & span {
        background-color: #e01a57;
        color: #fff;
    }
    & .item-title {
        color: #000000;
        font-weight: bold;
    }
}

//产品卡片
.produce-card {
    & .card-content .item-inner,
    li.distribution-li {
        margin-top: 0.5rem;
        font-size: 1rem;
        line-height: 1rem;
    }
    & .item-subtitle,
    .item-text {
        font-size: 0.85rem;
        margin-top: 0.25rem;
    }
    & img {
        height: 4rem;
        width: 4rem;
    }
    & .list-block {
        margin: 0;
    }
    & .card-header.item-inner {
        width: 80%;
    }
    
}
#order-list-block {
     & span {
        color: #e01a57;
    }
    & .item-inner {
    	margin:0;
    	white-space: nowrap;
    }

}
.order-bar-tab {
  
	& h4{
        float: left;
        margin: 0 0 0 25%;
        color: #e01a57;
        line-height:  2.5rem;
        width: 45%;
    }
    & .orderBtn {
          text-align: center;
        float: right;
        width: 30%;
        height: 100%;
        background-color: #e01a57;
        color: #fff;
        line-height: 2.5rem;
    }
}