/*分类页面*/

.class-branch-content {
    & .buttons-tab {
        height: 18rem;
    }
    & .buttons-tab a {
        height: 2.25rem;
    }
}

//在内容部分的主要内容字体的设置
#main-col-80 {
    & .item-text {
        font-size: 0.75rem;
        color: #232326;
        line-height: 1rem;
    }
    & .item-title {
        margin-top: 0.5rem;
        color: #e01a57;
    }
}


/* 产品详情页面*/

.product-bar {
    h1 {
        white-space: nowrap;
    }
}

.product-content {
    margin-top: 2.25rem;
    & .swiper-container {
        margin: 0;
        height: 14rem;
    }
    & img {
        height: 14rem;
    }
    & .product-card {
        margin: 0;
    }
    //请选择数量
    & .please-card .item-inner {
        margin: 0;
        font-size: 0.85rem;
    }
    & .promotion-list-block {
        line-height: 2.1rem;
    }
    //标签栏
    & .buttons-tab {
        margin-top: 0.75rem;
    }
    & .buttons-tab .button.active {
        z-index: 1;
    }
}

//产品信息
.bar-nav ~ .content {
    top: 0;
}

.product-card {
    & .list-block {
        width: 100%;
    }
    & .list-block .item-title {
        white-space: pre-wrap;
    }
    & .item-inner {
        padding: 0.5rem 0.75rem;
    }
    & .item-title {
        font-size: 0.75rem;
    }
    & .item-title-row .item-title {
        color: #e01a57;
        font-size: 1.1rem;
    }
    & .item-title-row {
        margin-top: 0.25rem;
    }
    & .item-subtitle {
        color: #999;
    }
}

//促销信息
.promotion-card {
    & .list-block .item-content {
        min-height: 1.5rem;
    }
    & span:first-child {
        float: left;
        font-size: 0.5rem;
        border: 0.05rem solid #e01a57;
        color: #e01a57;
    }
    & span:last-child {
        margin-left: 1rem;
        font-size: 0.65rem;
    }
}

//选择商品的规格
.please-card {
    position: relative;
}

.spec-popup {
    position: fixed;
    height: 90%;
    bottom: 0;
    top: 12%;
    background-color: #ffffff;
    & div,
    ul,
    li,
    h2 {
        margin: 0;
        padding: 0;
        font-weight: 400;
        list-style: none;
    }
    & .ctrl-ui-sku {
        width: 100%;
        height: 100%;
    }
    & .sku-pro {
        width: 100%;
        height: 25%;
    }
    & .sku-pro>div {
        height: 100%;
        padding: 0.32rem;
        border-bottom: 1px solid #e7e7e7;
        position: relative;
    }
    & .sku-pro>div img {
        width: 35%;
        height: 90%;
        margin-right: 0.32rem;
        position: relative;
        float: left;
    }
    & .sku-pro>div .sku-pro-info {
        align-items: center;
        -webkit-box-flex: 1;
        width: 60%;
        float: left;
        margin: 0.2rem;
    }
    & .sku-pro>div .sku-pro-info p {
        margin: 1% 0;
    }
    & .sku-pro-info .price {
        color: #e01a57;
    }
    & .close-popup {
        position: absolute;
        right: 1rem;
        top: 0;
        display: inline-block;
        width: .427rem;
        height: .427rem;
        padding: 1rem;
        cursor: pointer;
    }
    & .sku-info {
        width: 100%;
        height: 9.6rem;
    }
    & .sku-info> div {
        border-bottom: 1px solid #e7e7e7;
        height: 3.2rem;
        width: 100%;
    }
    & .sku-pro .close-popup {
        position: absolute;
        right: 1rem;
        top: 0;
        display: inline-block;
        width: .427rem;
        height: .427rem;
        padding: .32rem;
        cursor: pointer;
        background-size: .427rem;
    }
    & .sku-quantity {
        align-items: center;
        padding-right: .24rem;
    }
    & h2 {
        font-size: 0.8rem;
        line-height: 0.8rem;
        padding: 0.5rem;
        text-align: left;
    }
    & ul {
        font-size: 0.7rem;
        height: 1.2rem;
        list-style-type: none;
    }
    & ul li,
    .quantity-info a {
        text-align: center;
        font-size: 0.7rem;
        height: 1.2rem;
        width: 2.8rem;
        line-height: 1.2rem;
        float: left;
        margin-left: 0.75rem;
        border-radius: 0.3rem;
        background-color: #e7e7e7;
    }
    & .quantity-info {
        width: 100%;
        height: 50%;
    }
    & input {
        border: 0.05rem solid;
        text-align: center;
        height: 1.2rem;
        float: left;
        width: 4rem;
        margin-left: 0.45rem;
    }
    & .buttons-row {
        font-size: 0.8rem;
        width: 100%;
        bottom: 0.5rem;
        height: 2.2rem;
        color: #fff;
        margin: 0;
        position: absolute;
    }
    & #joinCartBtn,
    #purchaseBtn {
        color: #fff;
        text-align: center;
        width: 50%;
        line-height: 2.2rem;
    }
    & #joinCartBtn {
        background-color: #ff9402;
    }
    & #purchaseBtn {
        background-color: #f60;
    }
}

//标签页
.tabs {
    z-index: 1;
    & #goodsDet-tab img {
        background-color: #fff;
        padding: 0.75rem;
        height: 15rem;
        width: 100%;
    }
    //用户评价
    & #userEva-tab img {
        width: 10%;
        height: 1rem;
        float: left;
        border-radius: 50%;
    }
    & #userEva-tab span {
        font-size: 0.75rem;
        float: left;
        margin-left: 0.5rem;
    }
    & #userEva-tab .item-after {
        margin-top: 0.5rem;
        float: right;
        font-size: 0.5rem;
    }
    & #userEva-tab .item-inner {
        padding: 0;
    }
    & #userEva-tab li {
        padding: 0.75rem;
    }
    //更过推荐
    & #moreRec-tab .moreRec {
        background-color: #fff;
        height: 100%;
    }
    & #moreRec-tab .card {
        margin: 0;
        padding-top: 0.75rem;
        height: 12rem;
        box-shadow: none;
    }
    & #moreRec-tab .card-content {
        width: 44%;
        height: 11.5rem;
        float: left;
        margin: 0 0.5rem;
    }
    & #moreRec-tab .item-text {
        margin-top: 0.5rem;
    }
    & #moreRec-tab .item-subtitle {
        color: #e01a57;
        font-size: 0.75rem;
    }
    & #moreRec-tab img {
        width: 100%;
        height: 7rem;
    }
}

//工具栏设置
.bar-tab {
    & .tab-item::nth-child(1),
    .tab-item::nth-child(2) {
        width: 22%;
    }
    & .tab-item::nth-child(3),
    .tab-item::nth-child(4) {
        color: #fff;
    }
}

#joinBtn {
    color: #fff;
    background-color: #ff9402;
}

#purchaseBtn {
    color: #fff;
    background-color: #ff5000;
}


/*购物车*/

.bar {
    & .button-link {
        height: 2.25rem;
        line-height: 2.25rem;
        padding: 0 0.75rem;
        color: #fff;
        font-size: 0.75rem;
    }
}

.cart-content {
    & .list-block {
        margin-top: 2.25rem;
    }
    & .list-block .item-content {
        padding-right: 0.25rem;
    }
    & ul li {
        background-color: #fff;
    }
    & ul li img {
        width: 25%;
        height: 5rem;
        margin: 2% 4%;
    }
    & ul li .item-text {
        font-size: 0.75rem;
    }
    & ul li .item-subtitle {
        font-size: 0.5rem;
        color: #999;
        margin-top: 0.25rem;
    }
    & .item-title-row {
        height: 2rem;
    }
    & .item-title {
        width: 3rem;
        float: left;
        font-size: 0.85rem;
        color: #e01a57;
        line-height: 2rem;
    }
    & .item-after {
        float: right;
        width: 5rem;
        height: 2rem;
        margin: 0;
        max-height: 2rem;
    }
    & a {
        height: 1rem;
        width: 2rem;
        margin-top: 0.5rem;
        border: 0.05rem solid #999;
        text-align: center;
        line-height: 1rem;
    }
    & .list-block input[type="number"] {
        text-align: center;
        border: 0.05rem solid #999;
        margin-top: 0.5rem;
        height: 1rem;
        font-size: 0.75rem;
    }
}


/*确认收获地址*/

.address-content {
    & .list-block {
        margin-top: 2.25rem;
    }
    & .list-block .item-link .item-inner {
        padding: 0;
    }
    & .list-block .item-media + .item-inner{
        margin: 0;
    }
    & .item-title{
        font-size: 0.75rem;
        line-height: 2.2rem;
    }
}
.bar-footer {
    background-color: #e01a57;
    text-align: center;
    & a{
        color: #fff;
        line-height: 2.25rem;
        font-size: 0.8rem;

    }
}
/*新建收获地址*/
.newAddress-content{
    & .card{
        margin-top: 2.25rem;
    }
}
