/*分类页面*/
//在内容部分的主要内容字体的设置
#main-col-80 {
    & .item-text {
        font-size: 0.75rem;
        color: #232326;
        line-height: 1rem;
    }
    & .item-title {
        margin-top: 0.5rem;
        color: #e01a57;
    }
}
