/*分类页面*/
.class-branch-content {
    margin-top: 3rem;
    background-color: #f6f6f5;
   
    & .content-padded,
    .col-20,
    .list-block {
        margin: 0;
    }
}

//左边菜单栏
#nav-col-20 {
    & .list-block .item-content {
        padding: 0;
    }
    & .list-group ul {
        height: 8rem;
    }
    & #menu-list-group ul li {
        height: 2rem;
        line-height: 2rem;
    }
}

//右边的内容信息
#main-col-80 {
    & .list-block .item-content,
    .list-block.media-list .item-media {
        padding: 0;
    }
   
    & img{
        height: 3rem;
    }
}
