/*商城首页*/
//给每个content加下高度，才能滑动
.shopping-content {
    & .swiper-container {
        margin: 0;
    }
    & .list-block ul:before {
        background-color: #e01a57;
    }
}

//信息列表页
.news-media-list {
    margin: 0;
    & .item-content .item-media {
        width: 34%;
        padding: 0 0.25rem 0 0;
    }
    & .item-content p {
        margin: 0;
    }
    & .item-content .item-media img {
        width: 100%;
        height: 4rem;
    }
    //信息里面的副标题
    & .item-subtitle {
        color: gray;
    }
}


/*个人中心*/
#person-content {
    margin: 0;
}
//个人信息
.information-card {
    margin: 0rem;
    height: 8rem;
    background-color: #e01a57;
    & .item-media img {
        border-radius: 50%;
        width: 4rem;
        height: 4rem;
    }
    & .list-block.media-list .item-media {
        padding: 2rem 0 2rem 0.25rem;
    }
    & .list-block.media-list .item-inner {
        padding-top: 2.5rem;
        color: #fff;
        font-size: 0.8rem;
    }
    & .account-item-title {
        color: #fff;
        line-height: 1.7rem;
        font-size: 0.8rem;
    }
    & .account-item-title .item-title {
        float: left;
        padding-left: 0.75rem;
    }
    & .account-item-title .icon {
        float: right;
        padding-right: 0.75rem;
    }
}

//我的订单与常用工具相同的样式
.order-card,
.tool-card {
    & .card-header .list-block {
        width: 100%;
        font-size: 0.8rem;
    }
    & .list-block .item-content {
        padding: 0;
    }
    & .list-block .item-link .item-inner {
       margin: 0 0.75rem;
    }
    & .card-content {
        height: 5rem;
        text-align: center;
        margin: 0.75rem auto 0rem;
    }
    & .card-content div {
        width: 25%;
        float: left;
    }
}

//我的订单
//常用工具
.order-card {
    & .card-content div .icon {
        font-size: 2rem;
    }
    & .card-content div p {
        font-size: 0.8rem;
        margin: 0;
    }
}

.tool-card {
    & .card-content div .icon {
        font-size: 1.4rem;
    }
    & .card-content div span {
        width: 2.5rem;
        height: 2.5rem;
        border-radius: 50%;
        line-height: 2.5rem;
        color: #ffffff;
    }
    & #purchaseBtn {
        background-color: #c94866;
    }
    & #mechanismBtn {
        background-color: #4a68c8;
    }
    & #activityBtn {
        background-color: #e8892d;
    }
    & #bindingBtn {
        background-color: #1bb579;
    }
    & .card-content div p {
        font-size: 0.8rem;
        margin: 0.5rem 0 0 0;
        ;
    }
}
