/*爱心家活动与机构页面*/
#activity-tab {
    & .list-block .item-content {
        padding: 0;
    }
    & img {
        height: 8rem;
        width: 100%;
    }
    & span {
        background-color: #e01a57;
        color:#fff;
        width: 2.5rem;
        text-align: center;
        border-radius: 0.1rem;
    }  
}
//机构列表的部分
#organize-tab {
    background-color: #fff;
    & #main-organize {
        margin: 0 0.5rem 0.5rem 0.5rem;
    }
    & #first-col-50 {
        margin: 0;
    }
    & #last-col-50 {
        margin-left: 8%;
    }
    & img {
        width: 100%;
    }
    & .dividing-line {
        margin: 1rem 0;
        line-height: 0.05rem;
        border-left: 6rem solid #e01a57;
        border-right: 6rem solid #e01a57;
        text-align: center;
    }
}

/*二级机构*/
.branchOrg-content {
    & img {
        width: 5rem;
        height: 4rem;
    }
    & .item-text {
        color: gray;
    }
    & .item-subtitle {
        font-size: 0.5rem;
    }
    & p {
        font-size: 0.75rem;
        text-align: center;
        color: gray; 
    }
}